/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Milky+Nice|Roboto:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Milky Nice', serif;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box; 
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
  }

  #main {
    display: flex;
    flex: 1;
  }

  #main > article {
    flex: 1;
    order: 2;
  }

  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }

  #main > nav {
    background: #D7E8D4;
    order: 1;
  }

  #main > aside {
    background: beige;
    order: 3;
  }

  header {
    font-weight: bold;
    color: #ffffff;
  } 

  header, footer {
    background: #888888;
    height: 5vh;
  }

  header, footer, article, nav, aside {
    padding: 1em;
  }