/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Urbanist|Roboto:200,400');

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Urbanist', serif;
}


h1 {
  font-size: clamp(18px, 2vw, 36px);
}


h2 {
  font-size: clamp(16px, 2vw, 30px);
}

p {
  font-size: clamp(14px, 2vw, 18px);
}

a {
  text-decoration: none;
  font-weight: bold;
}



* {
   box-sizing: border-box; 
  }

  body {
    margin: 0;
    background: #262626;
  }

 
  .container {
    display: grid;
    padding: 20px;
    background: white;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header {
    padding: 1em;
    color: white;
    height: 10vh;
  }


  footer {
    padding: 1em;
    color: white;
    height: 15vh;
  }

  

  .centeralign {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.logo {
    margin: 0 8px 0 0;
    width: auto;
    height: 6vh;
}

.logo img {
  width: 100%;
  height: 100%;
}


#socialbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.fa {
  padding-top: 6px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-etsy {
  background: #F1651F;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    gap: 15px;
  }
  .cards img {
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 18vw;
    border-radius: 20px;
  }

  .cards img:hover {
    opacity: 0.7;
    transition: 0.3s;
  }


/*MODAL*/

.modal { display: none; }
.modal--show,
.modal--hide { display: flex; } /* classes fired by js for animation control */

/* This is on the wrapper for the whole modal */
.modal--align {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal__container {
  position: absolute;
  float: left;
  left: 47%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 100vh;
  padding: 20px;
  margin: 12px;
  background: #fff;
}

/*Etsy button*/
.btnEtsy {
  border-radius: 15px;
  font-family: 'Urbanist', serif;
  background: #F1651F;
  color: white;
  border: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

.btnEtsy:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.btnEtsy a {
  color: white;
}

.btnEtsy a:hover {
  text-decoration: underline;
}

/* Close or cancel button */

.modal__close--btn {
  border-radius: 15px;
  font-family: 'Urbanist', serif;
  background: #ffffcc;
  border: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

.modal__close--btn:hover {
  background: #ffcc66;
  transition: 0.3s;
}


/* The .modal__close class is used in js but is modified '--x' here */
.modal__close--x {
  font-size: 24px; /* this is only because we use unicode for the X in this case */
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: 10px;
}

/* As there is no href to avoid the hash being added to the URL when clicked we add a pointer */
/* This 'x' is hidden from screen readers as there is an accessible close button in the modal */
.modal__close--x:hover {
  cursor: pointer;
}

/* Animations */
/* Open */
.modal.modal--show {
  animation: modal-open 0.3s;
}

@keyframes modal-open {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/* Close */
.modal.modal--hide {
  animation: modal-close 0.3s;
}

@keyframes modal-close {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

.candy {
  width: 100%;
  height: auto;
}

.buttons {
  float: right;
}

.modal-grid {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }