/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Urbanist|Roboto:200,400');

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Urbanist', serif;
}


h1 {
  font-size: clamp(18px, 2vw, 36px);
}


h2 {
  font-size: clamp(16px, 2vw, 30px);
}

a {
  text-decoration: none;
  font-weight: bold;
}



* {
   box-sizing: border-box; 
  }

  body {
    margin: 0;
    background: #262626;
  }

 
  .container {
    display: grid;
    padding: 20px;
    background: white;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header {
    padding: 1em;
    color: white;
    height: 8vh;
  }


  footer {
    padding: 1em;
    color: white;
    height: 15vh;
  }

  

  .centeralign {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.logo {
    margin: 0 8px 0 0;
    width: 60px;
    height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}


#socialbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.fa {
  padding-top: 6px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-etsy {
  background: #F1651F;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    gap: 15px;
  }
  .cards img {
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 15vw;
    border-radius: 20px;
  }

  .cards img:hover {
    opacity: 0.7;
    transition: 0.3s;
  }